* {
  box-sizing: border-box;
}

body {
  background-image: url('../awal/1.jpg'); 
  background-color: #0E6BA8;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  position: relative;
}

.judul {
  position: absolute;
  top: 30px;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 5px #000;
}  

.login-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 300px;
  color: white;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.login-box h2 {
  margin-bottom: 20px;
  text-transform: lowercase;
}

.input-field {
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.input-field input::placeholder {
  color: #ccc;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}

.checkbox input {
  margin-right: 5px;
}

.forgot {
  color: #fff;
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #2b1055;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #ddd;
}

.register-link {
  font-size: 13px;
  margin-top: 15px;
}

.register-link a {
  color: #fff;
  text-decoration: underline;
}
.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  color: white;
}