* {
  box-sizing: border-box;
}

body {
  background-image: url(1.jpg);
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url(1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.login-box {
  background: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 300px;
  color: white;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.login-box h2 {
  margin-bottom: 20px;
  text-transform: lowercase;
}

.input-field {
  margin-bottom: 20px;
}

.input-field input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.input-field input::placeholder {
  color: #ccc;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}

.checkbox input {
  margin-right: 5px;
}

.forgot {
  color: #fff;
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #2b1055;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #ddd;
}

.register-link {
  font-size: 13px;
  margin-top: 15px;
}

.register-link a {
  color: #fff;
  text-decoration: underline;
}
.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  color: white;
}
h2 {
  margin-top: 30px;
  color: white;
}
.header .title {
    text-align: center;
    flex: 1;
}
@media (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}
.navbar a:hover {
    text-decoration: underline;
    color: #ffcc00;
}
.row {
    flex-wrap: wrap;
}
.main {
    flex-wrap: wrap;
}
table th, table td {
    text-align: left;
    padding: 10px;
}
table th, table td {
    text-align: center;
    padding: 10px;
}
  .container {
      max-width: 850px;
    }
    .card {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255,255,255,0.2);
      border-radius: 15px;
      color: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
      padding: 30px;
    }
    .profile-pic {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid #007bff;
    }
    .emoji-pic {
      font-size: 80px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      border: 3px solid #007bff;
      background-color: #f0f0f0;
      margin: auto;
    }
    label {
      color: white;
    }


  